<div class="row">
  <div class="jumbotron col-lg-5 m-1">
    <h2>My Heroes</h2>
    <div class="container">
      <div>
        <p class="input-group">
          <span class="input-group-addon" id="basic-addon1">#</span>
          <input  #heroName type="text" class="form-control" placeholder="Hero name" aria-label="Name" aria-describedby="basic-addon1">
          <span class="input-group-btn">
            <button class="btn btn-primary" (click)="add(heroName.value); heroName.value=''" type="button">Add!</button>
          </span>
        </p>
      </div>

    </div>

    <ul class="list-group">
      <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
          class="list-group-item" [class.active]="hero === selectedHero">
        {{hero.name}}


        <span class="pull-right">
        <button class="btn btn-danger small" (click)="delete(hero)"><i class="fa fa-remove" aria-hidden="true"></i></button>
      </span>

      </li>
    </ul>
  </div>
</div>

<div *ngIf="selectedHero" class="card m-1">
  <h4 class="card-header"> {{selectedHero.name | uppercase}}</h4>
  <div class="card-body">

    <p class="card-text">
      ID: <span class="badge badge-dark">{{selectedHero.id}}</span>
    </p>
    <button class="btn btn-info" (click)="gotoDetail()">Edit Details</button>
  </div>
  <div class="card-footer text-muted">
    add information
  </div>
</div>
