<div class="jumbotron  col-5">
  <h2>My Heroes</h2>
  <div>
    <label>Hero name:</label> <input #heroName />
    <button class="btn btn-primary" (click)="add(heroName.value); heroName.value=''">Add</button>

  </div>

  <ul class="list-group">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
        class="list-group-item" [class.active]="hero === selectedHero">
      {{hero.name}}
      <div class="pull-right">
      <span class="badge badge-info ">{{hero.id}}</span>
      <button  class="btn btn-danger" (click)="delete(hero)">x</button>
      </div>

    </li>
  </ul>
</div>

<div *ngIf="selectedHero" class="card col-5">
  <div class="card-block">
    <h4 class="card-title"> {{selectedHero.name | uppercase}} is my hero!</h4>

    <button (click)="gotoDetail()">View Details</button>
  </div>
</div>
